.tv-network-icon {
  position: relative;
  display: inline-block;
  width: 2em;
  line-height: 1em;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: url(../img/none.svg);
}
.tv-network-icon:before {
  content: "\00a0";
}
.tv-network-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: url(../img/none.svg);
}
.tv-network-icon-4music {
  background-image: url(../img/4music.svg);
}
.tv-network-icon-4seven {
  background-image: url(../img/4seven.svg);
}
.tv-network-icon-5 {
  background-image: url(../img/5.svg);
}
.tv-network-icon-5_star {
  background-image: url(../img/5_star.svg);
}
.tv-network-icon-5_usa {
  background-image: url(../img/5_usa.svg);
}
.tv-network-icon-abc {
  background-image: url(../img/abc.svg);
}
.tv-network-icon-abc_family {
  background-image: url(../img/abc_family.svg);
}
.tv-network-icon-adult_swim {
  background-image: url(../img/adult_swim.svg);
}
.tv-network-icon-adultswim {
  background-image: url(../img/adult_swim.svg);
}
.tv-network-icon-ae {
  background-image: url(../img/ae.svg);
}
.tv-network-icon-alibi {
  background-image: url(../img/alibi.svg);
}
.tv-network-icon-amazon {
  background-image: url(../img/amazon.svg);
}
.tv-network-icon-amc {
  background-image: url(../img/amc.svg);
}
.tv-network-icon-animal_planet {
  background-image: url(../img/animal_planet.svg);
}
.tv-network-icon-bbc_one {
  background-image: url(../img/bbc_one.svg);
}
.tv-network-icon-bbc_two {
  background-image: url(../img/bbc_two.svg);
}
.tv-network-icon-bbc_three {
  background-image: url(../img/bbc_three.svg);
}
.tv-network-icon-bbc_four {
  background-image: url(../img/bbc_four.svg);
}
.tv-network-icon-bbc_news {
  background-image: url(../img/bbc_news.svg);
}
.tv-network-icon-bravo {
  background-image: url(../img/bravo.svg);
}
.tv-network-icon-canal_plus {
  background-image: url(../img/canal_plus.svg);
}
.tv-network-icon-cartoon_network {
  background-image: url(../img/cartoon_network.svg);
}
.tv-network-icon-cbbc {
  background-image: url(../img/cbbc.svg);
}
.tv-network-icon-cbeebies {
  background-image: url(../img/cbeebies.svg);
}
.tv-network-icon-cbs {
  background-image: url(../img/cbs.svg);
}
.tv-network-icon-cbs_all_access {
  background-image: url(../img/cbs_all_access.svg);
}
.tv-network-icon-challenge {
  background-image: url(../img/challenge.svg);
}
.tv-network-icon-channel_4 {
  background-image: url(../img/channel_4.svg);
}
.tv-network-icon-channel_4_plus1 {
  background-image: url(../img/channel_4_plus1.svg);
}
.tv-network-icon-channel_5 {
  background-image: url(../img/5.svg);
}
.tv-network-icon-cinemax {
  background-image: url(../img/cinemax.svg);
}
.tv-network-icon-citv {
  background-image: url(../img/citv.svg);
}
.tv-network-icon-comedy_central {
  background-image: url(../img/comedy_central.svg);
}
.tv-network-icon-ctv {
  background-image: url(../img/ctv.svg);
}
.tv-network-icon-dave {
  background-image: url(../img/dave.svg);
}
.tv-network-icon-dave_ja_vu {
  background-image: url(../img/dave_ja_vu.svg);
}
.tv-network-icon-discovery {
  background-image: url(../img/discovery.svg);
}
.tv-network-icon-discovery_channel {
  background-image: url(../img/discovery.svg);
}
.tv-network-icon-disney_channel {
  background-image: url(../img/disney_channel.svg);
}
.tv-network-icon-disney_xd {
  background-image: url(../img/disney_xd.svg);
}
.tv-network-icon-dmax {
  background-image: url(../img/dmax.svg);
}
.tv-network-icon-e {
  background-image: url(../img/e.svg);
}
.tv-network-icon-e4 {
  background-image: url(../img/e4.svg);
}
.tv-network-icon-e4_plus1 {
  background-image: url(../img/e4_plus1.svg);
}
.tv-network-icon-eurosport {
  background-image: url(../img/eurosport.svg);
}
.tv-network-icon-eurosport2 {
  background-image: url(../img/eurosport2.svg);
}
.tv-network-icon-eurosport_2 {
  background-image: url(../img/eurosport2.svg);
}
.tv-network-icon-film4 {
  background-image: url(../img/film4.svg);
}
.tv-network-icon-fox {
  background-image: url(../img/fox.svg);
}
.tv-network-icon-fox_channel {
  background-image: url(../img/fox.svg);
}
.tv-network-icon-freeform {
  background-image: url(../img/freeform.svg);
}
.tv-network-icon-fx {
  background-image: url(../img/fx.svg);
}
.tv-network-icon-fxx {
  background-image: url(../img/fxx.svg);
}
.tv-network-icon-fyi {
  background-image: url(../img/fyi.svg);
}
.tv-network-icon-g4 {
  background-image: url(../img/g4.svg);
}
.tv-network-icon-global {
  background-image: url(../img/global.svg);
}
.tv-network-icon-gold {
  background-image: url(../img/gold.svg);
}
.tv-network-icon-hbo {
  background-image: url(../img/hbo.svg);
}
.tv-network-icon-history {
  background-image: url(../img/history.svg);
}
.tv-network-icon-hulu {
  background-image: url(../img/hulu.svg);
}
.tv-network-icon-itv {
  background-image: url(../img/itv.svg);
}
.tv-network-icon-itv1 {
  background-image: url(../img/itv.svg);
}
.tv-network-icon-itv_encore {
  background-image: url(../img/itv_encore.svg);
}
.tv-network-icon-itv_plus1 {
  background-image: url(../img/itv_plus1.svg);
}
.tv-network-icon-itv1_plus1 {
  background-image: url(../img/itv_plus1.svg);
}
.tv-network-icon-itv2 {
  background-image: url(../img/itv2.svg);
}
.tv-network-icon-itv2_plus1 {
  background-image: url(../img/itv2_plus1.svg);
}
.tv-network-icon-itv3 {
  background-image: url(../img/itv3.svg);
}
.tv-network-icon-itv3_plus1 {
  background-image: url(../img/itv3_plus1.svg);
}
.tv-network-icon-itv4 {
  background-image: url(../img/itv4.svg);
}
.tv-network-icon-itv4_plus1 {
  background-image: url(../img/itv4_plus1.svg);
}
.tv-network-icon-itvbe {
  background-image: url(../img/itvbe.svg);
}
.tv-network-icon-m6 {
  background-image: url(../img/m6.svg);
}
.tv-network-icon-mbs {
  background-image: url(../img/mbs.svg);
}
.tv-network-icon-more4 {
  background-image: url(../img/more4.svg);
}
.tv-network-icon-mtv {
  background-image: url(../img/mtv.svg);
}
.tv-network-icon-nat_geo_wild {
  background-image: url(../img/nat_geo_wild.svg);
}
.tv-network-icon-national_geographic {
  background-image: url(../img/national_geographic.svg);
}
.tv-network-icon-nbc {
  background-image: url(../img/nbc.svg);
}
.tv-network-icon-netflix {
  background-image: url(../img/netflix.svg);
}
.tv-network-icon-nickelodeon {
  background-image: url(../img/nickelodeon.svg);
}
.tv-network-icon-pbs {
  background-image: url(../img/pbs.svg);
}
.tv-network-icon-pick {
  background-image: url(../img/pick.svg);
}
.tv-network-icon-quest {
  background-image: url(../img/quest.svg);
}
.tv-network-icon-really {
  background-image: url(../img/really.svg);
}
.tv-network-icon-rtl {
  background-image: url(../img/rtl.svg);
}
.tv-network-icon-rtl_television {
  background-image: url(../img/rtl.svg);
}
.tv-network-icon-showcase {
  background-image: url(../img/showcase.svg);
}
.tv-network-icon-showtime {
  background-image: url(../img/showtime.svg);
}
.tv-network-icon-sky {
  background-image: url(../img/sky.svg);
}
.tv-network-icon-sky1 {
  background-image: url(../img/sky1.svg);
}
.tv-network-icon-sky2 {
  background-image: url(../img/sky2.svg);
}
.tv-network-icon-sky_atlantic {
  background-image: url(../img/sky_atlantic.svg);
}
.tv-network-icon-sky_box_office {
  background-image: url(../img/sky_box_office.svg);
}
.tv-network-icon-sky_cinema {
  background-image: url(../img/sky_cinema.svg);
}
.tv-network-icon-sky_news {
  background-image: url(../img/sky_news.svg);
}
.tv-network-icon-sony_entertainment_television {
  background-image: url(../img/sony_entertainment_television.svg);
}
.tv-network-icon-space {
  background-image: url(../img/space.svg);
}
.tv-network-icon-spike {
  background-image: url(../img/spike.svg);
}
.tv-network-icon-starz {
  background-image: url(../img/starz.svg);
}
.tv-network-icon-syfy {
  background-image: url(../img/syfy.svg);
}
.tv-network-icon-scifi {
  background-image: url(../img/syfy.svg);
}
.tv-network-icon-tbs {
  background-image: url(../img/tbs.svg);
}
.tv-network-icon-the_cw {
  background-image: url(../img/the_cw.svg);
}
.tv-network-icon-tlc {
  background-image: url(../img/tlc.svg);
}
.tv-network-icon-tnt {
  background-image: url(../img/tnt.svg);
}
.tv-network-icon-trutv {
  background-image: url(../img/trutv.svg);
}
.tv-network-icon-tv_tokyo {
  background-image: url(../img/tv_tokyo.svg);
}
.tv-network-icon-usa_network {
  background-image: url(../img/usa_network.svg);
}
.tv-network-icon-universal {
  background-image: url(../img/universal.svg);
}
.tv-network-icon-universal_channel {
  background-image: url(../img/universal.svg);
}
.tv-network-icon-viva {
  background-image: url(../img/viva.svg);
}
.tv-network-icon-w {
  background-image: url(../img/w.svg);
}
.tv-network-icon-universal_channel {
  background-image: url(../img/watch.svg);
}
.tv-network-icon-yesterday {
  background-image: url(../img/yesterday.svg);
}
.tv-network-icon-yahoo {
  background-image: url(../img/yahoo.svg);
}
.tv-network-icon-yahoo_screen {
  background-image: url(../img/yahoo.svg);
}
.tv-network-icon-youtube {
  background-image: url(../img/youtube.svg);
}
.tv-network-icon-background.tv-network-icon-sm,
.tv-network-icon.tv-network-icon-sm {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 16px;
}
.tv-network-icon-background.tv-network-icon-md,
.tv-network-icon.tv-network-icon-md {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 32px;
}
.tv-network-icon-background.tv-network-icon-lg,
.tv-network-icon.tv-network-icon-lg {
  position: relative;
  display: inline-block;
  width: 128px;
  height: 64px;
}
