.tv-network-icon {
  position: relative;
  display: inline-block;
  width: unit(2 / 1, em);
  line-height: 1em;
  .tv-network-icon-background;
  &:before {
    content: "\00a0";
  }
}

.tv-network-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: ~"url(@{tv-network-icon-img-path}none.svg)";
}

.tv-network-icon-size(@size, @sizeVar) {

  .tv-network-icon-background.tv-network-icon-@{size},
  .tv-network-icon.tv-network-icon-@{size} {
    width: @sizeVar;
    height: (@sizeVar / 2);
  }

}

.tv-network-icon(@network) {

  .tv-network-icon-@{network} {
    background-image: ~"url(@{tv-network-icon-img-path}@{network}.svg)";
  }

}

.tv-network-icon-remap(@network, @remapNetwork) {

  .tv-network-icon-@{network} {
    background-image: ~"url(@{tv-network-icon-img-path}@{remapNetwork}.svg)";
  }

}

